.rsvp-tile {
    border: dotted red;
    padding: 10px;
    min-width: 300px;
    max-width: 50%;
}

.back-page-link-container {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 20px;
}