.li-event-list {
    border: solid lightgray 1px;
    border-radius: 16px;
    margin: 20px;
    width: 400px;
    height: 450px;
}

.li-event-list img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.li-event-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.li-event-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.event-list-container .city-date,
.event-list-container .start-end-time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.event-list-container .start-end-time {
    text-align: right;
    margin: 10px;
}

.event-list-container .city-date {
    /* border: dotted; */
    text-align: left;
    margin: 10px;
}

.event-list-container .city-date  .text {
    /* border: dotted; */
    padding: 0;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.event-list-container .li-event-list a {
    padding: 10px;
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color */
}

.event-list-container .li-event-description h3,
.event-list-container .li-event-description h2 {
    margin: 0;
    width: fit-content;
}

.event-list-container .li-event-description h2 {
    font-size: 20px;
    width: fit-content;
}

.event-list-container a h2.text {
    font-size: 20px;
    /* border: solid purple; */
    width: fit-content;
}

.event-list-container ul {
    /* border: dashed teal; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8px;
    padding: 0;
}

/* Categories Section */
.li-event-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 0;
}

.category {
    background-color: #f5f5f5;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}


.category p {
    margin: 0;
    white-space: nowrap;
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .event-list-container ul {
        justify-content: center;
    }
}

@media only screen and (min-width: 400px) and (max-width: 900px){
    .event-list-container ul {
        justify-content: center;
    }
}

