.li-event-list {
    border: solid lightgray 1px;
    border-radius: 16px;
    margin: 20px;
    width: 400px;
    height: 400px;
}

.li-event-list img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.li-event-description {
    /* border: dotted magenta; */
    display: flex;
    row-gap: 0;
    justify-content: space-between;
}

.event-list-container .city-date, .start-end-time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 10px 0px;
}

.event-list-container .start-end-time {
    text-align: right;
}

.event-list-container .city-date {
    text-align: left;
}

.event-list-container .li-event-list a {
    padding: 10px;
}

.event-list-container .li-event-description h3 {
    color: gray;
}

.event-list-container .li-event-description h3 {
    font-size: 16px;
}

.event-list-container .li-event-description h2 {
    font-size: 20px;
}

.event-list-container ul {
    /* border: dashed teal; */
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 400px) and (max-width: 800px){
    .event-list-container ul {
        /* border: dashed teal; */
        display: flex;
        justify-content: center;

    }
}

@media only screen and (min-width: 800px) and (max-width: 950px){
    .event-list-container ul {
        /* border: dashed teal; */
        display: flex;
        justify-content: center;

    }
}