.li-event-list {
    border: solid lightgray 1px;
    border-radius: 16px;
    margin: 20px;
    width: 400px;
    height: 450px;
}

.li-event-list img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.li-event-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
}

.li-event-description {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
}

.event-list-container .city-date,
.event-list-container .start-end-time {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.event-list-container .start-end-time {
    text-align: right;
    margin: 10px;
}

.event-list-container .city-date {
    text-align: left;
    width: fit-content;
    margin: 10px;
}

.event-list-container .li-event-list a {
    padding: 10px;
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color */
}

.event-list-container .li-event-description h3,
.event-list-container .li-event-description h2 {
    color: gray;
    margin: 0;
}

.event-list-container .li-event-description h2 {
    font-size: 20px;
}

.event-list-container ul {
    /* border: dashed teal; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8px;
    padding: 0;
}

.event-description {
    height: 100px;
    overflow: scroll;
    margin: 10px;
    /* border: solid pink; */
}

.event-description::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.event-list-container li {
    margin: 0 auto;
}

@media only screen and (min-width: 400px) and (max-width: 900px){
    .event-list-container ul {
        justify-content: center;
    }
}

