.login-form-modal#modal-content[name="signup-modal"] {
    /* border: solid red; */
  transform: translate(-20%, -20%);
  padding: 40px;
  width: 550px;
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: scroll;
}

.login-form-modal label {
  color: #557b5d;
  font-size: 16px;
}

.login-form-modal h1 {
  margin: 10px;
}
