.event-details-container .li-event-description {
    /* border: dotted red; */
    display: flex;
    max-height: fit-content;
    justify-content: center;
}

.event-details-container {
     /* border: dotted red; */
    max-width: 1000px;
}

.event-details-container .location-info {
    text-align: left;
    width: 50%;
}

.date-time-info li {
    /* border: solid red; */
    display: flex;
    width: 100%;
}

.date-time-info, .location-info {
    /* border: dotted; */
    padding: 0;
}


.event-details-container .li-event-preview .preview-img {
    /* border: solid blue; */
    width: 80%;
    height: auto;
    border-radius: 16px;
}

.event-details-container .li-event-preview {
    /* border: dotted teal; */
    display: flex;
    justify-content: center;
    margin: 20px;
}

.li-event-description  h3 {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 4px 0px;
}

.li-event-description  h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 4px 20px;
}

.event-details-container {
    /* border: dashed magenta; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.li-event-rsvp, .li-event-invite {
    /* border: dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-group-button-container {
    /* border: solid red; */
    margin-top: 20px;
}

.event-details-container button {
    width: fit-content;
    margin: 20px auto;
}

.event-details-container .description {
    color: gray;
}


.event-details-container .contact-logo-label, .org-link, .org-email {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.organizer-name-logo .organizer-logo {
    /* border: dotted green; */
    width: 200px;
    height: auto;
    margin: 24px 0px;
}

.li-organizer-description .description {
    color: gray;
}

.organizer-name-logo h2 {
    margin: 40px 0px;
}