.event-details-container .li-event-description {
    /* border: dotted red; */
    display: flex;
    max-height: fit-content;
    justify-content: center;
    column-gap: 80px;
}

.event-details-container {
     /* border: dotted red; */
    max-width: 1000px;
}


.date-time-info h2,
.location-info h2 {
    /* border: solid red; */
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.date-time-info, 
.location-info {
    /* border: dotted purple; */
    width: 200px;
    height: auto;
    text-align: center;
    row-gap: 14px;
}


.city-state-toggle {
    text-align: center;
}


.event-details-container .li-event-preview .preview-img {
    /* border: solid blue; */
    width: 80%;
    height: auto;
    border-radius: 16px;
}

.event-details-container .li-event-preview {
    /* border: dotted teal; */
    display: flex;
    justify-content: center;
    margin: 20px;
}

.li-event-description  h3 {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    padding: 4px 0px;
}


.event-details-container {
    /* border: dashed magenta; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.li-event-rsvp, .login-to-rsvp {
    /* border: dotted; */
    display: flex;
    justify-content: center;
}

.li-event-invite {
    /* border: dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-group-button-container {
    /* border: solid red; */
    text-align: center;
}


.event-details-container button {
    width: fit-content;
    margin: 20px;
}

.event-details-container .description {
    color: gray;
}


.event-details-container .contact-logo-label, .org-link, .org-email {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.organizer-name-logo .organizer-logo {
    /* border: dotted green; */
    width: 200px;
    height: auto;
    margin: 24px 0px;
}

.li-organizer-description .description {
    color: gray;
}

.organizer-name-logo h2 {
    margin: 40px 0px;
}

.community-feedback {
    display: flex;
    align-items: center;
    column-gap: 8px;
}