/* TODO: Add sitewide styles */

@font-face {
    font-family: 'Montserrat';
    src: "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap";
}

html {
    font-family: 'Montserrat';
}

ul {
    list-style-type: none;
    margin: none;
}

h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


li {
    max-width: fit-content;
    max-height: fit-content;
}

h2 {
    color: #557b5d;
}

div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

button {
    font-size: 1.2rem;
  font-weight: bold;
  background-color: #6b8f71; /* Sage green */
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 8px;
  margin: 12px;
}