.login-form-modal {
    /* border: solid red; */
    width: 360px;
    padding: 20px 30px;
    border-radius: 12px;
    text-align: center;
}

.login-form-modal#modal-content {
    left: 50%;
   top: 50%; 
   margin-left: -150px;
   margin-top: -150px;
}

.login-form-modal label {
    /* border: solid red; */
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .login-form-modal label input {
    /* border: solid red; */
    border-radius: 4px;
    height: 28px;
    width: 100%;
  }

  .invite-button#login {
    /* border: dotted red; */
    margin: 20px auto;
  }

  .demo-user-button {
    border: solid #557b5d 2px;
    background-color: white;
    color: #557b5d;
    margin: 0;
  }

  .demo-user-button:hover {
    background-color: lightgreen;
  }
