.feedback-input .filled {
    color: green;
  }

  .feedback-input .empty {
    color: #D0D1D4;
  }

  .feedback-input{
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .feedback-input svg{
    border: solid lightgray 1px;
    border-radius: 4px;
    height: 60px;
    width: 60px;
    margin: 0px 10px;
    padding: 10px;
  }